body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 0;
    overflow: hidden;
    height: 800px;
 }
 
 img {
     position: absolute;
     display: block;
     height: 100%;
}

#overlay {
   position: absolute;
   margin: auto;
   width: 100%;
   height: 100%;
 }

 
 #ship {
    position: absolute;
    z-index: 10;
    height: 30px;
    width: 30px;
    bottom: 7px;
    left: 650px;
 }

 canvas {
     margin:0;
     top:80%;
     z-index: 12;
     height: 600px;
     width:932px;

 }